numpy==2.1.0
scipy
accelerate
torchvision
transformers
ftfy
tensorboard
Jinja2
datasets
wandb
SentencePiece
opencv-python
torch
diffusers
peft
deepspeed
Pillow
tqdm
networkx
scikit-learn
huggingface_hub
packaging
bitsandbytes